<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LogarUsuario</servlet-name>
        <servlet-class>br.com.AlmSystem.Controller.LogarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarregarProduto</servlet-name>
        <servlet-class>br.com.AlmSystem.Controller.CarregarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DadosProduto</servlet-name>
        <servlet-class>br.com.AlmSystem.Controller.DadosProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarProduto</servlet-name>
        <servlet-class>br.com.AlmSystem.Controller.ListarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirProduto</servlet-name>
        <servlet-class>br.com.AlmSystem.Controller.ExcluirProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarregaProduto</servlet-name>
        <servlet-class>br.com.AlmSystem.Controller.CarregaProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarProduto</servlet-name>
        <servlet-class>br.com.AlmSystem.Controller.AlterarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarIntens</servlet-name>
        <servlet-class>br.com.AlmSystem.Controller.CadastrarIntens</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DadosItens</servlet-name>
        <servlet-class>br.com.AlmSystem.Controller.DadosItens</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirItem</servlet-name>
        <servlet-class>br.com.AlmSystem.Controller.ExcluirItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalvarProduto</servlet-name>
        <servlet-class>br.com.AlmSystem.Controller.SalvarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarEstoque</servlet-name>
        <servlet-class>br.com.AlmSystem.Controller.ListarEstoque</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalvarItem</servlet-name>
        <servlet-class>br.com.AlmSystem.Controller.SalvarItem</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogarUsuario</servlet-name>
        <url-pattern>/LogarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarregarProduto</servlet-name>
        <url-pattern>/CarregarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DadosProduto</servlet-name>
        <url-pattern>/DadosProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProduto</servlet-name>
        <url-pattern>/ListarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirProduto</servlet-name>
        <url-pattern>/ExcluirProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarregaProduto</servlet-name>
        <url-pattern>/CarregaProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarProduto</servlet-name>
        <url-pattern>/AlterarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarIntens</servlet-name>
        <url-pattern>/CadastrarIntens</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DadosItens</servlet-name>
        <url-pattern>/DadosItens</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirItem</servlet-name>
        <url-pattern>/ExcluirItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalvarProduto</servlet-name>
        <url-pattern>/SalvarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarEstoque</servlet-name>
        <url-pattern>/ListarEstoque</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalvarItem</servlet-name>
        <url-pattern>/SalvarItem</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/erro/erro.jsp</location>
    </error-page>
    <error-page>
        <exception-type>404</exception-type>
        <location>/erro/erro.jsp</location>
    </error-page>
</web-app>
